<% include partials/header.ejs %>

<h3 style="color: #595260"> <%= theTitle %> </h3>
<p style="color: #595260, width:50%"> <%= theBody %> </p>
<a href="/" class="btn btn-primary stretched-link">Back to Home</a>

<% include partials/footer.ejs %>
